$bkg-color: rgb(41, 40, 40);
$main-color: rgb(230, 230, 230);
$link-color: rgb(209, 209, 209);
$link-hover: rgb(230, 230, 230);
$nav-active: #b79a5f;
$footer-bkg: #3d7550;
$footer-color: #dddddd;